# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno
.env

# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de pruebas y cobertura
.pytest_cache/
.coverage
htmlcov/

# Archivos generados por el proyecto
*.log
*.db

# IDEs y editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
